<%- include('../component/head'); %>
<div class="blue-grey darken-3 white-text" id="titleBar">
  <a href="/">npProject</a>
</div>
<main class="valign-wrapper" id="titleMain">
  <div class="container">
    <div class="row">
      <div class="col s12 center-align">
        Welcome Firstname!
      </div>
    </div>
    <div class="row center-align">
      <a href="/signin/" class="waves-effect waves-light btn blue-grey darken-3"
        >Sign In</a
      >
    </div>
  </div>

  <%- include('../component/footer'); %>
</main>
