<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>npProject</title>
  </head>
  <body>
    <nav class="nav-extended">
      <div class="nav-wrapper hide-on-small-only">
        <a href="/home/" class="brand-logo hide-on-small-only">npProject</a>
        <!-- <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a> -->
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li>
            <a href=""><i class="material-icons left">home</i>Home</a>
          </li>
          <li>
            <a href=""><i class="material-icons left">event</i>Events</a>
          </li>
          <li>
            <a href=""><i class="material-icons left">group_add</i>Members</a>
          </li>
          <li>
            <a href=""><i class="material-icons left">person</i>My Profile</a>
          </li>
        </ul>
      </div>
      <div class="nav-content hide-on-large-only">
        <ul class="tabs tabs-transparent">
          <li class="tab">
            <a href="/home/"><i class="material-icons">home</i>Home</a>
          </li>
          <li class="tab">
            <a class="active" href="/home/"
              ><i class="material-icons">event</i></a
            >
          </li>
          <li class="tab">
            <a href="/home/"><i class="material-icons">group_add</i></a>
          </li>
          <li class="tab">
            <a href="/home/"><i class="material-icons">person</i></a>
          </li>
        </ul>
      </div>
      <ul class="sidenav" id="mobile-demo">
        <li><a href="">About Us</a></li>
        <li><a href="">Contact</a></li>
      </ul>
    </nav>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac neque
      posuere, ullamcorper purus ut, ultrices erat. Nullam tristique consequat
      tempus. Sed ac mauris ac turpis facilisis semper eget ac mauris. Sed
      vehicula ex dolor, vitae aliquet metus tempor non. Vivamus commodo neque
      sed vestibulum feugiat. Aenean eget urna posuere est cursus fermentum.
      Nulla feugiat convallis dui, a feugiat diam. Aliquam efficitur erat vitae
      magna malesuada, vel malesuada dolor finibus. Nullam vitae tellus at
      sapien faucibus mollis. Vestibulum at metus vestibulum, volutpat dolor in,
      euismod nunc. Integer et tempus dolor. Sed sit amet ultricies neque. Sed
      ut dui maximus, ornare sapien in, vulputate nisl. Cras hendrerit placerat
      nisl, vitae hendrerit lacus porta vitae. Aliquam mollis malesuada diam id
      faucibus. Maecenas a sem tempor ex porttitor blandit. Suspendisse eget
      nibh condimentum est dictum scelerisque vitae eu justo. Nulla eget auctor
      lacus, sit amet ultrices metus. Proin in mauris a orci tincidunt semper.
      Pellentesque nisi libero, malesuada nec convallis a, congue et erat.
      Mauris porttitor porta nisl, a feugiat libero pulvinar vitae. Cras
      accumsan sagittis dui, at consequat augue porta in. Integer egestas
      bibendum consequat. Sed sit amet auctor est, eget egestas enim. Sed
      vestibulum interdum sapien, nec tincidunt purus ultrices eget. Morbi sit
      amet auctor purus. Morbi fermentum enim non nibh imperdiet tristique.
      Suspendisse ut porttitor turpis. Vivamus eu quam nulla. Etiam turpis urna,
      laoreet et mi quis, tristique pulvinar ipsum. Sed vitae nibh nec quam
      fermentum hendrerit. Mauris laoreet enim et ipsum ornare convallis eu ut
      purus. Donec consectetur sit amet lectus vitae ullamcorper. Pellentesque
      rutrum nisl non magna eleifend, ut pretium est iaculis. Nullam id neque
      quis ipsum mattis finibus sodales eget dolor. Nulla facilisi. Donec sit
      amet efficitur eros. Nam cursus cursus mattis. Suspendisse lacinia ex
      ipsum, at finibus ipsum gravida non. Ut mi magna, commodo vitae odio id,
      commodo aliquet ligula. Aenean consequat leo a nisl feugiat dictum.
      Praesent suscipit sed massa quis tempus. Nulla a ultricies turpis. Vivamus
      non orci venenatis, sollicitudin felis in, ultrices dolor. Morbi sagittis
      malesuada quam, ut condimentum metus vestibulum non. Phasellus molestie
      ante id posuere semper. Donec ac felis nulla. Proin non nibh arcu. Fusce
      lacinia, neque vitae sollicitudin posuere, nulla leo ornare risus, in
      tempor velit velit ac sapien. Etiam ultricies tristique malesuada. Nam
      posuere vestibulum est eu gravida. Nullam ullamcorper ligula volutpat,
      lacinia urna rutrum, pellentesque tellus. Aliquam ut enim nibh. Vestibulum
      pharetra, magna commodo malesuada convallis, justo lectus gravida magna,
      nec hendrerit diam ante venenatis risus. Quisque sagittis augue aliquam
      dui venenatis, ac placerat odio dapibus. Phasellus tincidunt suscipit
      odio, nec dignissim lorem ullamcorper eu. Suspendisse tempor efficitur
      urna, non condimentum metus pharetra sed. Pellentesque et posuere libero,
      a fringilla ante. Curabitur sagittis maximus tortor, nec euismod purus
      dignissim nec. Duis risus ex, dapibus in lacus quis, consectetur auctor
      mauris. Pellentesque eu sem maximus leo viverra lobortis quis vitae
      lectus. Pellentesque habitant morbi tristique senectus et netus et
      malesuada fames ac turpis egestas. Sed quis felis vestibulum, maximus
      ipsum ac, convallis augue. Donec nec ligula libero. Vestibulum nec
      interdum felis, placerat molestie dolor. Pellentesque ut rutrum purus. Ut
      maximus fringilla diam a venenatis. In auctor, ante non aliquet accumsan,
      ante massa pretium nisl, sagittis lobortis nibh lectus sit amet nunc. Sed
      congue eget augue a egestas. Nulla dictum arcu sit amet neque tempus,
      porta faucibus tellus consequat. Sed eu urna eu nunc tempor accumsan vel
      accumsan mauris. Sed at turpis purus. Donec molestie elementum dolor, eu
      molestie urna bibendum ut. Cras faucibus arcu eu porttitor iaculis.
      Phasellus id justo vitae purus lacinia varius et non massa. Nam elit
      lectus, maximus sit amet ligula at, lobortis iaculis ligula. Pellentesque
      lobortis dapibus placerat. Nunc cursus dapibus massa quis scelerisque.
      Quisque ullamcorper molestie erat id cursus. Cras eget dui justo. Aliquam
      erat volutpat. Donec a volutpat diam, et placerat mi. Nam iaculis, augue
      vel posuere dapibus, arcu ipsum elementum est, sed rutrum tortor urna sed
      lectus. Sed scelerisque felis nec venenatis tempus. Pellentesque aliquet
      sapien nec erat commodo, nec tempus massa pretium. Mauris venenatis
      bibendum elit. Proin pulvinar rhoncus neque suscipit tempor. Aenean dictum
      vestibulum orci, a sollicitudin velit ultricies id. Praesent suscipit,
      purus egestas venenatis eleifend, velit nunc tincidunt sapien, ut eleifend
      odio felis tincidunt lectus. Praesent sapien nibh, venenatis vel sodales
      sed, blandit quis justo. Vivamus id porttitor tortor. Mauris at orci nec
      diam sagittis fermentum. Sed dictum libero a nibh malesuada, vitae
      convallis orci efficitur. Etiam congue mi at leo venenatis congue. In hac
      habitasse platea dictumst. Fusce sit amet dolor at metus tempor vestibulum
      varius at massa. Suspendisse quis pharetra lectus, a tincidunt leo. Class
      aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
      himenaeos. In aliquet malesuada erat, nec volutpat quam vulputate nec.
      Cras leo neque, aliquam non fringilla et, luctus ac quam. Cras eget leo et
      odio ornare vestibulum. Vestibulum auctor, libero sit amet placerat
      finibus, nibh arcu feugiat odio, et tincidunt eros est quis tortor. Class
      aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
      himenaeos. Ut imperdiet feugiat nunc elementum posuere. Suspendisse
      bibendum venenatis tortor, vitae mattis purus aliquam id. Integer id
      viverra nulla. Nullam non est finibus dui pellentesque vulputate. Donec id
      malesuada est, at lobortis lectus. Mauris sed orci pulvinar, sollicitudin
      risus at, sagittis massa. Nunc dapibus ultrices mauris id bibendum. Sed
      blandit venenatis malesuada. Donec porttitor venenatis purus vitae
      commodo. Duis eleifend, felis scelerisque iaculis semper, velit ligula
      maximus orci, rhoncus luctus tellus massa quis augue. Praesent id augue
      fringilla, pellentesque ex in, tempor lacus. Aenean molestie porttitor
      luctus. Vestibulum luctus non justo non semper. Sed sed massa diam. Morbi
      ullamcorper, orci nec consectetur mattis, felis orci pretium diam, at
      gravida ipsum tellus id libero. Proin sed auctor urna, sit amet tempor
      lorem. Phasellus gravida eros ut magna placerat luctus. Donec id ligula
      sit amet dolor scelerisque viverra. Ut ullamcorper neque sit amet
      ullamcorper convallis. Vivamus feugiat, quam ac pretium maximus, nibh
      tellus consequat sem, tristique facilisis tortor metus quis magna. Aenean
      placerat nec odio eget cursus. Nam ac libero risus. Mauris varius nulla
      facilisis lobortis tempus. In eget mauris arcu. Aenean ac ante elit.
    </p>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/js/navbar.js"></script>
  </body>
</html>
