<%- include('component/head'); %>
<%- include('component/navbar'); %>
<div class="hide-on-med-and-up blue-grey darken-3 white-text" id="titleBar">
    <a href="/home/"><i class="material-icons">navigate_before</i>Home</a>
</div>
<%- include('component/footer'); %>
