<%- include('component/head'); %> 
<%- include('component/navbar'); %>
<%- include('component/pagetitle'); %>

<div class="row center-align">
    Please sign in to access this page
</div>
<div class="row center-align">
      <a href="/signup/" class="waves-effect waves-light btn blue-grey darken-3">Sign Up</a>
</div>
<div class="row center-align">
      <a href="/signin/" class="waves-effect waves-light btn blue-grey darken-3" id="signInBtn">Sign In</a>
</div>
<%- include('component/footer'); %>
