<%- include('component/head'); %>
<div class="blue-grey darken-3 white-text" id="titleBar">
    <a href="/">npProject</a>
</div>
<main class="valign-wrapper" id="titleMain">
    <div class="container">
    <div class="row">
        <div class="col s12 m6 offset-m3 l4 offset-l4">
            <form action="" method="POST">
                <label for="firstname">Firstname</label>
                <input type="text" name="firstname" class="validate" required>
                <label for="lastname">Lastname</label>
                <input type="text" name="lastname" class="validate" required>
                <label for="birthdate">Birthdate</label>
                <input type="text" name="birthdate" class="datepicker validate" required>
                <label>Main sport</label>
                <select>
                    <option value="" disabled selected></option>
                    <option value="cycling">Cycling</option>
                    <option value="running">Running</option>
                </select>
            </form>
        </div>
    </div>
</div>
    <div class="row">
        <div class="col s12">
            <a href="/signup2/" class="waves-effect waves-light btn blue-grey darken-3">Next</a>
        </div>
    </div>
<script src="/js/sign.js" crossorigin="anonymous"></script>
<%- include('component/footer'); %>