<%- include('../component/head'); %> 
<%- include('../component/navbar'); %>
<div class="hide-on-med-and-up blue-grey darken-3 white-text" id="titleBar">
  <a href=""><i class="material-icons left">chevron_left</i>My Profile</a>
</div>


<%- include('../component/footer'); %>
