@media only screen and (max-width:600px) {
    .nav-extended {
        bottom: 0;
    }
    main {
        margin: 55px 0px 56px 0px;
    }
    .col, .row {
        padding: 0px !important;
    }
    .card {
        width: 100%;
    }
    .toast {
        width: max-content;
        margin: 20px;
    }
    #toast-container {
        bottom: 50px;
    }
    #map {
        height: 200px;
        width: 100%;
    }
}

@media only screen and (min-width:601px) {
    .nav-extended {
        top: 0;
        padding: 0px 15px 0px 15px;
        box-shadow: none;
    }
    main {
        margin-top: 10px;
        padding-top: 50px;
        }
    #map {
        height: 300px;
        width: 50%;
    }
}

:root {
    --main-color: #37474f;
}

.nav-extended {
    position: fixed;
    z-index: 1000;
}

#titleBar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1001;
    font-weight: 500;
    font-size: 17px;
    padding: 15px 15px 15px 25px;
}

#titleBar a {
    color: white;
}

#socialIcon {
    display: inline-block;
    padding-right: 50px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

a {
    color: var(--main-color);
}

a:hover {
    color: #78909c;
}

main {
    flex: 1 0 auto;
    flex-direction: column;
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0px;
}

#titleMain {
    justify-content: center;
}

#title {
    font-weight: 700;
}

.btn {
    margin: 10px;
}

.datepicker-date-display{
    background-color: var(--main-color);
}

.datepicker-calendar-container{
    background-color: #f5f5f5;
}

.datepicker-cancel, .datepicker-done, .is-today, .timepicker-close {
    color: var(--main-color);
}

.timepicker-canvas line { 
    stroke: var(--main-color); 
}

.timepicker-canvas-bearing, .timepicker-canvas-bg { 
    fill: var(--main-color); 
}

.timepicker-tick:hover { 
    background: var(--main-color); 
}

.timepicker-digital-display {
    background-color: var(--main-color);
}

.card {
    max-width: 415px;
}

.card-title {
    font-weight: 600 !important;
}

.eventDate {
    color: var(--main-color);
    font-size: 21px;
    font-weight: 700;
    background-color: white ;
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 2px 10px 5px 10px;
    border-radius: 3px 3px 3px 3px;
    box-shadow: -5px 5px var(--main-color);
}

.eventMonth {
    font-size: 17px;
    font-weight: 600;
    border-top: 1px solid #212121;
}

.sectionTitle {
    font-size: 25px;
    font-weight: 600;
    margin: 10px;
}

.cardTitle {
    color: var(--main-color);
    font-size: 20px;
    font-weight: 650;
    padding: 10px;
}

.title {
    font-weight: 600;
}

.tabs {
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}

.bottomNavbar {
    box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.2);
}

.homeTabs a {
    color: #c3c8cb !important;
}

.homeTabs .active {
    color: white !important;
}

.indicator {
    background-color: white !important;
}

#tabs-swipe-demo {
    position: fixed;
    top: 55px;
    z-index:300;
    transition: top 0.4s ease-out;
}

#popularEvent, #myEvents {
    padding-top: 55px !important;
}

#addBtn {
    position: fixed;
    bottom: 70px;
    right: 20px;
}

#addBtn:hover {
    transform: scale(0.98);
}

#filters {
    display: flex;
    justify-content: space-around;
}

#filterDiv {
    padding: 0px;
    border: 0px;
}

.addTopMargin {
    margin-top: 20px;
}

.eventDetailBtn {
    display: flex;
    justify-content: space-around;
}

.collapsible-body {
    background-color: white;
    padding: 5px 10px;
}