<nav class="nav-extended blue-grey darken-3">
  <div class="nav-wrapper hide-on-small-only">
    <a href="/home/" class="brand-logo">npProject</a>
    <!-- <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a> -->
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>
        <a href="/home/"><i class="material-icons left">home</i>Home</a>
      </li>
      <li>
        <a href="/events/"><i class="material-icons left">event</i>Events</a>
      </li>
      <li>
        <a href="/members/"><i class="material-icons left">group_add</i>Members</a>
      </li>
      <li>
        <a href="/myprofile/"><i class="material-icons left">person</i>My Profile</a>
      </li>
    </ul>
  </div>
  <div class="nav-content hide-on-large-only bottomNavbar">
    <ul class="tabs tabs-transparent">
      <li class="tab">
        <a class="<%  if(page=="Home") {%><%= "active"%><%} %>" href="/home" target="_self"><i class="material-icons">home</i>Home</a>
      </li>
      <li class="tab">
        <a class="<%  if(page=="Events" || page=="Event Details") {%><%= "active"%><%} %>" href="/events" target="_self"><i class="material-icons">event</i></a>
      </li>
      <li class="tab">
        <a class="<%  if(page=="Members") {%><%= "active"%><%} %>" href="/members" target="_self"><i class="material-icons">group_add</i></a>
      </li>
      <li class="tab">
        <a class="<%  if(page=="My Profile") {%><%= "active"%><%} %>" href="/myprofile" target="_self"><i class="material-icons">person</i></a>
      </li>
    </ul>
  </div>
  <!--<ul class="sidenav" id="mobile-demo">
    <li><a href="">About Us</a></li>
    <li><a href="">Contact</a></li>
  </ul>-->
</nav>
<main>